	/*
  	Flaticon icon font: Flaticon
  	Creation date: 25/10/2019 06:52
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("Flaticon.eot");
  src: url("Flaticond41d.eot?#iefix") format("embedded-opentype"),
       url("Flaticon.woff2") format("woff2"),
       url("Flaticon.woff") format("woff"),
       url("Flaticon.ttf") format("truetype"),
       url("Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-cruise:before { content: "\f100"; }
.flaticon-ship-1:before { content: "\f101"; }
.flaticon-boat:before { content: "\f102"; }
.flaticon-ship-2:before { content: "\f103"; }
.flaticon-boat-2:before { content: "\f104"; }
.flaticon-cruise-6:before { content: "\f105"; }
.flaticon-yachting:before { content: "\f106"; }
.flaticon-ship-5:before { content: "\f107"; }
.flaticon-ship-7:before { content: "\f108"; }
.flaticon-boat-3:before { content: "\f109"; }
.flaticon-ship-8:before { content: "\f10a"; }
.flaticon-yacht:before { content: "\f10b"; }
.flaticon-boat-4:before { content: "\f10c"; }
.flaticon-boat-5:before { content: "\f10d"; }
.flaticon-cruise-8:before { content: "\f10e"; }
.flaticon-luxury-yacht-boat:before { content: "\f10f"; }
.flaticon-yacht-1:before { content: "\f110"; }
.flaticon-ship-10:before { content: "\f111"; }
.flaticon-yacht-3:before { content: "\f112"; }