/*-------------------------------------
        Template Name: Elearnhub - LMS education HTML Template
        Template URI: https://themeies.com
        Description: Elearnhub is the most Enticing, Creative and Modern Education template
        Author: Themeies
        Author URI: https://themeies.com
        Version: 1.0
        Tags: education, learn, elearn, tutor, LMS, University
    ---------------------------------------*/
/*
        Table of Context
        -------------------------------
        * Common CSS
        * Preloader
        * Header style
        * Navigation menu
        * Form Section
        * Feature Section 
        * Tutor Section 
        * Call to action Section 
        * Nearby students section
        * Blog section
        * Yachts section
        * Yachts details section
        * Yachts video
        * Yachts Curriculum
        * Comments
        * Contact section
        * Pricing section
        * Page Feature
        * Login / Registration
        * Footer
    */
/**
    * Fonts 
    * Roboto & Popins
    */
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Roboto:300,400,500,700&amp;display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #83868c;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 27px;
}

a {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

a:hover, a:focus {
  text-decoration: none;
  outline: 0px;
}

h1, h2, h3, h4, h5, h6 {
  color: #0c2e60;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
  margin: 0;
}

input:active, input:focus {
  outline: 0;
}

section {
  display: block;
  position: relative;
  padding: 70px 0 80px;
  width: 100%;
}

/**
    *
    * Common CSS
    *
    */
@media screen and (max-width: 767px) {
  section {
    padding-bottom: 50px;
  }
}

.sec-heading {
  margin-bottom: 60px;
}

.sec-heading .sec-title {
  font-size: 42px;
  margin-bottom: 0;
}

@media screen and (max-width: 992px) {
  .sec-heading .sec-title {
    font-size: 35px;
  }
}

@media screen and (max-width: 767px) {
  .sec-heading .sec-title {
    font-size: 28px;
  }
}

@media screen and (max-width: 479px) {
  .sec-heading .sec-title {
    font-size: 24px;
  }
}

@media screen and (min-width: 768px) {
  .nopadd-ltf {
    padding-left: 0;
  }
  .nopadd-rth {
    padding-right: 0;
  }
  .nopadd {
    padding-left: 0;
    padding-right: 0;
  }
}

.nopadd-btm {
  padding-bottom: 0 !important;
}

.btn {
  border: none;
  color: #fff;
  display: inline-block;
  font-size: 13px;
  font-weight: 500;
  line-height: 0.8;
  text-transform: uppercase;
  padding: 20px 40px;
}

.btn:hover {
  -webkit-box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.05);
  color: #04dffb;
}

.btn-filled {
  border-radius: 0;
  background-color: #04dffb;
  background: -webkit-gradient(linear, left top, right top, from(#04dffb), to(#0fe5f0));
  background: linear-gradient(to right, #04dffb 0%, #0fe5f0 100%);
  -webkit-transition: all .5s;
  transition: all .5s;
}

.btn-filled:hover {
  background: -webkit-gradient(linear, left top, right top, from(#04dffb), to(#04dffb));
  background: linear-gradient(to right, #04dffb 0%, #04dffb 100%);
  -webkit-box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.05);
  color: #fff !important;
}

.btn-default {
  background: -webkit-gradient(linear, left top, right top, from(#04dffb), to(#0fe5f0));
  background: linear-gradient(to right, #04dffb 0%, #0fe5f0 100%);
  border-radius: 50px;
  color: #fff;
}

.btn-default:hover {
  background: -webkit-gradient(linear, left top, right top, from(#04dffb), to(#04dffb));
  background: linear-gradient(to right, #04dffb 0%, #04dffb 100%);
  color: #fff;
  -webkit-box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.05);
}

.btn-round {
  border-radius: 50px;
}

.btn-outline {
  border: 1px solid #525151;
  color: #525151;
}

.btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn.icon-left i {
  line-height: .8;
  margin-right: 20px;
}

.tagline {
  color: #04dffb;
  display: block;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  margin-bottom: 10px;
  position: relative;
}

@media screen and (max-width: 991px) {
  .tagline {
    font-size: 12px;
  }
}

.tagline.bar {
  padding-left: 70px;
}

.tagline.bar:after {
  background-color: #0c2e60;
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 2px;
  width: 50px;
}

.content-box h2, .content-box-fluid h2 {
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 23px;
}

@media screen and (max-width: 479px) {
  .content-box h2, .content-box-fluid h2 {
    font-size: 26px;
    line-height: 34px;
  }
}

.content-box h5, .content-box-fluid h5 {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 30px;
}

.content-box .btn, .content-box-fluid .btn {
  margin-top: 25px;
}

.content-box-fluid {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .content-box-fluid {
    max-width: 505px;
  }
}

@media screen and (min-width: 768px) {
  .content-box-fluid.right {
    float: right;
  }
}

.circle {
  border-radius: 50%;
}

.video-box {
  position: relative;
}

.video-box:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(22, 43, 69, 0.7);
}

.video-box .video-in {
  position: absolute;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  z-index: 1;
}

.video-box .video-in span {
  color: #fff;
}

.read-more {
  color: #0c2e60;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  border-bottom: 2px solid #e8e9eb;
  border-top: 2px solid #e8e9eb;
  display: inline-block;
  padding: 3px 0 1px;
}

.read-more:hover {
  color: #04dffb;
  border-color: #04dffb;
}

.bg-offwhite {
  background: #f6f7f8;
  z-index: 0;
}

.bg-bluewhite {
  background: #e4ecf2;
}

.avatar {
  position: relative;
}

.avatar-small {
  height: 60px;
  width: 60px;
}

.avatar-md {
  height: 100px;
  width: 100px;
}

a#compare {
  position: fixed;
  width: 40px;
  height: 40px;
  background: #000;
  right: 0;
  top: 150px;
  display: block;
  color: white;
  z-index: 9;
  text-align: center;
  padding: 10px;
  font-size: 22px;
  background: -webkit-gradient(linear, left top, right top, from(#04dffb), to(#0fe5f0));
  background: linear-gradient(to right, #04dffb 0%, #0fe5f0 100%);
  z-index: 999;
}

.card {
  position: relative;
  border: none;
  padding: 25px;
  -webkit-box-shadow: 0 10px 30px rgba(24, 33, 99, 0.1);
          box-shadow: 0 10px 30px rgba(24, 33, 99, 0.1);
}

.process {
  position: relative;
  padding: 25px;
}

.process.v2 .icon-bg {
  left: 15px;
  top: 0;
  bottom: 0;
  margin: auto;
}

.process.v2 .card:before, .process.v2 .card:after {
  display: none;
}

.process.v2 li:last-child {
  padding-bottom: 30px;
}

.process h3 {
  font-size: 30px;
  position: relative;
  margin-bottom: 20px;
  text-align: center;
  text-transform: capitalize;
  padding: 15px 0;
  z-index: 1;
}

.process h3::before {
  content: '';
  position: absolute;
  top: 5px;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 100% 50%;
  margin: 0 auto;
  background-color: #f1f6f9;
  height: 57px;
  width: 88px;
  z-index: -1;
}

.process li {
  position: relative;
  padding-left: 110px;
  padding-top: 30px;
  padding-bottom: 30px;
  min-height: 80px;
  z-index: 1;
}

.process li:last-child {
  padding-bottom: 0;
}

@media screen and (min-width: 480px) {
  .process li:not(:first-child)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 40px;
    right: 0;
    bottom: auto;
    background-color: #eee;
    width: 1px;
    height: 50%;
  }
  .process li:not(:last-child)::after {
    content: '';
    position: absolute;
    top: auto;
    left: 40px;
    right: 0;
    bottom: 0;
    background-color: #eee;
    width: 1px;
    height: 50%;
    z-index: -1;
  }
}

.process li:hover .icon-bg {
  background: -webkit-gradient(linear, left top, right top, from(#04dffb), to(#0fe5f0));
  background: linear-gradient(to right, #04dffb 0%, #0fe5f0 100%);
}

.process li:hover i {
  color: #fff;
}

.process li .icon-bg {
  border-radius: 50%;
  background-color: #f1f6f9;
  display: block;
  text-align: center;
  position: absolute;
  top: 30px;
  left: 0;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  height: 80px;
  width: 80px;
}

.process li i {
  font-size: 30px;
  position: relative;
  max-width: 36px;
  width: auto;
  margin: auto;
  top: 32%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.process li h5 {
  font-size: 22px;
  text-transform: capitalize;
}

.process li h5 a {
  color: #0c2e60;
}

.process li h5 a:hover {
  color: #04dffb;
}

.process li p {
  margin-bottom: 0;
}

@media screen and (max-width: 479px) {
  .process {
    padding: 0;
  }
  .process li {
    padding-left: 0;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .process li img {
    max-width: 24px;
  }
  .process li .icon-bg {
    position: relative;
    top: 0;
    left: 0;
    -webkit-transform: none;
            transform: none;
    margin-bottom: 20px;
    height: 60px;
    width: 60px;
  }
}

/**
    *  Team Section
    */
.team-esection {
  display: block;
}

.team-esection .team-bio {
  background: #fff;
  padding: 10px;
  position: relative;
}

.team-esection .team-bio .socials {
  position: absolute;
  width: 100%;
  top: -15px;
  opacity: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
  left: 0;
  padding: 5px;
}

@media screen and (max-width: 768px) {
  .team-esection .widget.instractors {
    margin-bottom: 30px;
  }
}

.team-esection .widget.instractors:hover .socials {
  top: -30px;
  opacity: 1;
  background: #fff;
}

.team-esection .widget.instractors span {
  margin-bottom: 0;
}

/**
    *  Preloader
    */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 99999999;
  width: 100%;
  height: auto;
}

#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-image: url(../images/loading-boat.gif);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/**
    * Header top style
    */
.header-top-bar {
  display: block;
  background: #04dffb;
  padding: 10px 0;
}

.header-top-bar ul li {
  list-style: none;
  display: inline-block;
}

.header-top-bar a {
  color: #fff;
}

.header-top-bar .header-language, .header-top-bar .header-social, .header-top-bar .login-area {
  display: inline-block;
  width: auto;
  margin-left: 10px;
  position: relative;
}

.header-top-bar .login-area a {
  margin-left: 5px;
  font-size: 14px;
  font-weight: 300;
}

.header-top-bar .login-area a.langbtn {
  margin-right: 5px;
}

.header-top-bar .contact-info {
  margin: 0;
  padding: 0;
}

.header-top-bar p, .header-top-bar a {
  color: #fff;
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-right: 10px;
  font-weight: 300;
  line-height: 1;
  font-size: 14px;
}

.header-top-bar p i, .header-top-bar a i {
  position: relative;
  top: 2px;
}

.header-top-bar ul.list-unstyled.dropdown-menu {
  width: 50px;
  max-width: 100px;
  min-width: auto;
  padding: 2px 9px;
}

.header-top-bar ul.list-unstyled.dropdown-menu li {
  display: block;
}

.header-top-bar ul.list-unstyled.dropdown-menu li a {
  color: #000;
}

@media screen and (max-width: 768px) {
  .header-top-bar {
    text-align: center;
  }
  .header-top-bar .header-language, .header-top-bar .header-social, .header-top-bar .login-area {
    padding: 5px 0;
  }
}

/** 
    * Header style
    */
.header {
  display: block;
  position: relative;
  padding: 15px 0;
  width: 100%;
}

.header:before {
  background: #fff;
  display: none;
  content: '';
  width: 100%;
  position: absolute;
  height: 100%;
  top: 0px;
  pointer-events: none;
}

.header .btn {
  margin-left: 15px;
  text-transform: uppercase;
  padding: 13px 25px;
}

.header03 .navbar {
  background-color: #000;
  max-width: 1370px;
  margin: 0 auto -40px;
  position: relative;
  z-index: 1;
}

.header03 .navbar li a {
  color: #fff;
}

.header03 .search-icon, .header03 .cart-bag, .header03 .cart-bag {
  color: #fff;
}

.logo {
  display: block;
  max-width: 150px;
  font-size: 40px;
}

.logo span {
  font-size: 30px;
  margin: 0;
  display: inline-block;
  background: -webkit-gradient(linear, left top, right top, from(#04dffb), to(#0fe5f0));
  background: linear-gradient(to right, #04dffb 0%, #0fe5f0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo span span {
  font-weight: 700;
  display: inline;
}

.logo span::before {
  margin: 0;
  padding: 0;
  font-size: 40px;
}

.search-icon, .cart-bag {
  color: #000;
  font-size: 16px;
  padding: 0 5px;
  position: relative;
}

.search-icon:hover, .cart-bag:hover {
  color: #0c2e60;
}

.cart-bag .itemCount {
  background-color: #04dffb;
  border-radius: 50%;
  color: #fff;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  position: absolute;
  right: 0;
  top: 0;
  height: 14px;
  width: 14px;
}

.cart-bag .itemCount:hover {
  color: #0c2e60;
}

.abs-header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

@media screen and (max-width: 991px) {
  .abs-header {
    background-color: #fff;
  }
}

/**
    * Navigation menu
    */
.navbar {
  padding: 0;
}

@media screen and (max-width: 991px) {
  .navbar {
    position: inherit;
  }
}

.navbar-nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navbar-nav li {
  position: relative;
}

.navbar-nav li a {
  color: #0c2e60;
  display: block;
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  line-height: 0.8;
  padding: 25px 15px;
}

.navbar-nav li a li.current-menu-item a, .navbar-nav li a:hover {
  color: #04dffb;
}

.navbar-nav li:last-child a.btn {
  color: #fff;
  position: relative;
  top: 10px;
  padding-top: 11px;
}

@media screen and (max-width: 992px) {
  .navbar-nav li:last-child a.btn {
    display: none;
  }
}

.navbar-nav li:last-child a.btn i {
  position: relative;
  top: 2px;
  font-size: 14px;
}

.navbar-nav li .sub-menu {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.07);
          box-shadow: 0 2px 15px rgba(0, 0, 0, 0.07);
}

@media screen and (min-width: 992px) {
  .navbar-nav li .sub-menu {
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    position: absolute;
    top: 100%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    width: 220px;
    z-index: 999;
  }
}

@media screen and (max-width: 991px) {
  .navbar-nav li .sub-menu {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .navbar-nav li .sub-menu a {
    padding: 20px;
  }
}

.navbar-nav li .sub-menu a:hover {
  background-color: #f5f5f5;
}

@media screen and (min-width: 992px) {
  .navbar-nav li:hover .sub-menu {
    opacity: 1;
    visibility: visible;
  }
}

@media screen and (max-width: 991px) {
  .navbar-nav {
    background-color: #fff;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 999;
  }
  .navbar-nav li a {
    padding: 20px 35px;
  }
  .navbar-nav li a:hover {
    background-color: #f5f5f5;
  }
}

@media screen and (max-width: 575px) {
  .navbar-nav li a {
    padding: 20px 15px;
  }
}

#mobile-menu-toggler {
  color: #000;
  font-size: 20px;
  margin-left: auto;
  margin-right: 10px;
  position: relative;
  top: 3px;
}

#mobile-menu-toggler:hover {
  color: #0c2e60;
}

@media screen and (min-width: 992px) {
  #mobile-menu-toggler {
    display: none;
  }
}

.menu-dropdown {
  color: #000;
  cursor: pointer;
  display: block;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  position: absolute;
  right: -10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 20px;
  height: 20px;
}

@media screen and (min-width: 992px) {
  .menu-dropdown {
    font-size: 9px;
    right: -5px;
  }
}

@media screen and (max-width: 991px) {
  .menu-dropdown {
    right: 15px;
    top: 15px;
    -webkit-transform: none;
            transform: none;
  }
}

/**
    * Header style
    */
.header {
  display: block;
  position: relative;
  padding: 20px 0;
  width: 100%;
}

.header .btn {
  margin-left: 15px;
  text-transform: uppercase;
  padding: 13px 25px;
}

.abs-header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

@media screen and (max-width: 991px) {
  .abs-header {
    background-color: #fff;
  }
}

.banner {
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  padding: 0;
}

.banner.login-registration {
  background-image: url(../images/ban-01.jpg);
}

@media screen and (max-width: 767px) {
  .banner.login-registration {
    padding-top: 100px;
  }
}

.banner.v2 .hero-slider .item:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: block;
  left: 0;
  background: #0c2e60;
  opacity: .8;
}

.banner .hero-slider .item {
  background-size: cover;
  background-position: center;
  position: relative;
}

.banner .hero-slider .item:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: block;
  left: 0;
  background: #000;
  opacity: .7;
}

.banner .hero-slider .item .container {
  position: relative;
  top: calc(50% - 50px);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media screen and (max-width: 992px) {
  .banner .hero-slider .item .container {
    top: 50%;
  }
}

.banner .hero-slider.bg-shape .item:before {
  -webkit-clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
  opacity: .7;
  left: -1px;
  width: 62%;
}

.banner .banner-content h2 {
  color: #fff;
  font-size: 55px;
  font-weight: 700;
  line-height: 65px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

@media screen and (max-width: 1199px) {
  .banner .banner-content h2 {
    font-size: 40px;
    line-height: 50px;
  }
}

@media screen and (max-width: 768px) {
  .banner .banner-content h2 {
    font-size: 30px;
    line-height: 36px;
  }
}

.banner .banner-content h2 span {
  color: #04dffb;
  display: block;
}

.banner .banner-content p {
  color: #fff;
  margin-bottom: 20px;
}

.banner .vector-img {
  width: 29%;
  position: absolute;
  right: 10%;
  bottom: 0;
}

@media screen and (max-width: 767px) {
  .banner .vector-img {
    display: none;
  }
}

/**
    * Form Section 
    */
.main-form {
  position: relative;
}

.main-form.form-v2 .m-search-form button {
  width: calc(50% - 2px);
}

.main-form.form-v2 .m-search-form button.dropdown-toggle {
  width: 100%;
}

@media screen and (min-width: 992px) {
  .nm-top-130 {
    margin-top: -150px;
  }
}

@media screen and (min-width: 992px) {
  .nm-top-100 {
    margin-top: -108px;
  }
}

.m-search-form {
  background-color: #fff;
  -webkit-box-shadow: 0 10px 30px rgba(24, 33, 99, 0.1);
          box-shadow: 0 10px 30px rgba(24, 33, 99, 0.1);
  padding: 50px;
  position: relative;
  z-index: 9;
}

.m-search-form .row {
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  margin-top: 15px;
}

.m-search-form .advance-search-area {
  display: none;
}

.m-search-form .advance-search-area .row {
  margin-left: -12px;
  margin-right: -12px;
}

.m-search-form .advance-search-area .row .control-group {
  padding: 0 10px;
}

.m-search-form .advance-search-area .row select {
  margin: 0 10px;
}

@media screen and (max-width: 992px) {
  .m-search-form .advance-search-area .row select {
    margin: 10px;
  }
}

.m-search-form .filter-option-inner-inner {
  color: #83868c;
}

.m-search-form .bootstrap-select .dropdown-menu li a span.text {
  display: inline-block;
}

.m-search-form input, .m-search-form select, .m-search-form .input-group-append, .m-search-form select.cselect, .m-search-form .range-slider, .m-search-form .control-group, .m-search-form .button-area {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.m-search-form .input-group-append {
  margin-left: 5px;
}

.m-search-form select.cselect {
  sbackground: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 10px;
}

.m-search-form a.opt.dropdown-item {
  padding-left: 25px !important;
}

.m-search-form input, .m-search-form select {
  border: 1px solid #e0e4e6;
  border-radius: 0;
  color: #999;
  font-size: 12px;
  font-weight: 300;
  line-height: 1;
  padding: 20px;
}

.m-search-form input::-webkit-input-placeholder, .m-search-form select::-webkit-input-placeholder {
  color: #999;
  text-transform: uppercase;
}

.m-search-form input:-ms-input-placeholder, .m-search-form select:-ms-input-placeholder {
  color: #999;
  text-transform: uppercase;
}

.m-search-form input::-ms-input-placeholder, .m-search-form select::-ms-input-placeholder {
  color: #999;
  text-transform: uppercase;
}

.m-search-form input::placeholder, .m-search-form select::placeholder {
  color: #999;
  text-transform: uppercase;
}

.m-search-form select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.m-search-form button {
  background-color: #0c2e60;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  height: 52px;
}

.m-search-form button.search-btn {
  width: 45px;
}

.m-search-form button.a-search {
  width: calc(100% - 49px);
}

.m-search-form .bstn {
  min-width: 100px;
  padding: 20px 15px;
  text-align: center;
}

.m-search-form .bstn.active i {
  opacity: 1;
}

.m-search-form .bstn i {
  opacity: 0;
  position: absolute;
  top: 18px;
}

.m-search-form .input-group-text {
  display: block;
  width: 100%;
}

.m-search-form .input-group-text .btn {
  padding: 26px 15px !important;
  float: left;
  margin: 0;
  outline: none;
}

.m-search-form .input-group-text .btn .filter-option {
  position: relative !important;
  top: -3px;
  display: block;
}

.m-search-form .boxes {
  margin: auto;
}

.m-search-form input[type="checkbox"] {
  display: none;
}

.m-search-form input[type="checkbox"] + label {
  display: inline-block;
  position: relative;
  padding-left: 29px;
  margin-right: 15px;
  margin-bottom: 20px;
  font: 14px/20px 'Open Sans', Arial, sans-serif;
  color: #ddd;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.m-search-form input[type="checkbox"] + label:last-child {
  margin-bottom: 0;
}

.m-search-form input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #6cc0e5;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

.m-search-form input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.m-search-form .range-slider {
  *zoom: 1;
  margin: 0;
  padding: 0;
  position: relative;
  text-align: center;
}

.m-search-form .range-slider:before, .m-search-form .range-slider:after {
  content: " ";
  display: table;
}

.m-search-form .range-slider:after {
  clear: both;
}

.m-search-form .range-slider .track {
  bottom: 15px;
  height: 6px;
  left: 0;
  margin-bottom: -3px;
  position: absolute;
  width: 0;
  z-index: 50;
}

.m-search-form .range-slider .track--full {
  background: #e9ecef;
  width: 100%;
  height: 100%;
  top: 0;
}

.m-search-form .range-slider .track--included {
  background: #0c2e60;
  height: 100%;
  top: 0;
}

.m-search-form .range-slider .slider-thumb {
  background: #555;
  border-radius: 50%;
  cursor: pointer;
  display: none;
  display: block;
  height: 30px;
  left: 0;
  position: absolute;
  width: 100px;
  z-index: 101;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .m-search-form .range-slider .slider-thumb {
    display: block;
  }
}

@media (min-width: 640px) {
  .m-search-form .range-slider .slider-thumb {
    height: 30px;
    width: 30px;
  }
}

@media (min-width: 1024px) {
  .m-search-form .range-slider .slider-thumb {
    height: 30px;
    width: 30px;
  }
}

.m-search-form .range-slider [type=range] {
  -webkit-appearance: none;
  background: none;
  height: 30px;
  margin: 0;
  outline: none;
  padding: 0;
  pointer-events: none;
  position: relative;
  width: 100%;
  z-index: 75;
}

.m-search-form .range-slider [type=range]:focus {
  outline: none;
}

.m-search-form .range-slider [type=range]::-moz-focus-outer {
  border: 0;
}

.m-search-form .range-slider [type=range]:first-of-type {
  float: left;
  margin-bottom: -30px;
}

.m-search-form .range-slider [type=range]:last-of-type {
  float: right;
  margin-bottom: 0;
}

.m-search-form .range-slider [type=range]::-webkit-slider-runnable-track {
  background: none;
  border: 0;
  height: 6px;
  z-index: -1;
}

.m-search-form .range-slider [type=range]::-ms-fill-lower {
  background: none;
  border: 0;
}

.m-search-form .range-slider [type=range]::-ms-fill-upper {
  background: none;
  border: 0;
}

.m-search-form .range-slider [type=range]::-ms-track {
  background: transparent;
  border: 0;
  border-color: transparent;
  color: transparent;
  height: 6px;
  z-index: -1;
}

.m-search-form .range-slider [type=range]:focus::-ms-fill-lower {
  background: none;
  border: 0;
}

.m-search-form .range-slider [type=range]:focus::-ms-fill-upper {
  background: none;
  border: 0;
}

.m-search-form .range-slider [type=range]::-moz-range-track {
  -moz-appearance: none;
  background: none;
  border: 0;
  height: 6px;
  z-index: -1;
}

.m-search-form .range-slider [type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #555;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  height: 30px;
  margin-top: -12px;
  outline: 0;
  pointer-events: all;
  position: relative;
  width: 30px;
  z-index: 100;
}

@media (min-width: 640px) {
  .m-search-form .range-slider [type=range]::-webkit-slider-thumb {
    height: 30px;
    margin-top: -12px;
    width: 30px;
  }
}

@media (min-width: 1024px) {
  .m-search-form .range-slider [type=range]::-webkit-slider-thumb {
    height: 30px;
    margin-top: -12px;
    width: 30px;
  }
}

.m-search-form .range-slider [type=range]::-ms-thumb {
  background: #555;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  height: 30px;
  margin-top: 0;
  pointer-events: all;
  position: relative;
  width: 30px;
  z-index: 100;
}

@media (min-width: 640px) {
  .m-search-form .range-slider [type=range]::-ms-thumb {
    height: 30px;
    width: 30px;
  }
}

@media (min-width: 1024px) {
  .m-search-form .range-slider [type=range]::-ms-thumb {
    height: 30px;
    width: 30px;
  }
}

.m-search-form .range-slider [type=range]::-moz-range-thumb {
  -moz-appearance: none;
  background: #555;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  height: 30px;
  margin-top: -12px;
  pointer-events: all;
  position: relative;
  width: 30px;
  z-index: 100;
}

@media (min-width: 640px) {
  .m-search-form .range-slider [type=range]::-moz-range-thumb {
    height: 30px;
    margin-top: -12px;
    width: 30px;
  }
}

@media (min-width: 1024px) {
  .m-search-form .range-slider [type=range]::-moz-range-thumb {
    height: 30px;
    margin-top: -12px;
    width: 30px;
  }
}

.m-search-form .range-slider .output,
.m-search-form .range-slider output {
  background: #fff;
  border: 1px solid #aaa;
  border-radius: 4px;
  color: #aaa;
  display: inline-block;
  height: 100%;
  left: 50%;
  line-height: 1;
  padding: 0 0.75em;
  position: absolute;
  text-align: center;
  padding: 7px;
  top: 0;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  z-index: 99999 !important;
  pointer-events: none;
}

@media screen and (max-width: 991px) {
  .m-search-form input, .m-search-form select, .m-search-form button {
    -webkit-box-flex: inherit;
        -ms-flex-positive: inherit;
            flex-grow: inherit;
    -ms-flex-preferred-size: calc(100% / 2 - 10px);
        flex-basis: calc(100% / 2 - 10px);
    margin: 0;
    margin-bottom: 15px;
  }
  .m-search-form button {
    margin-bottom: 10px;
  }
  .m-search-form .input-group-append {
    width: 100%;
    height: 52px;
    margin: 0 0 10px !important;
  }
  .m-search-form span.checkbox {
    width: 100%;
    display: block;
  }
  .m-search-form button.btn.bstn {
    width: calc(50% - 2px);
    padding: 0;
  }
}

@media screen and (max-width: 575px) {
  .m-search-form {
    padding: 40px 30px;
  }
  .m-search-form input, .m-search-form select, .m-search-form button {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

/**
    * Feature Section 
    */
.feature {
  position: relative;
}

.iconBox {
  position: relative;
  text-align: center;
}

.iconBox:hover i {
  color: #0fe5f0;
}

.iconBox i {
  text-align: center;
  margin: 35px auto 35px;
  display: inline-block;
  color: #04dffb;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.iconBox i:before {
  font-size: 70px;
  margin-left: 0;
}

.iconBox h5 {
  margin-bottom: 15px;
}

.iconBox h5 a {
  font-size: 22px;
  color: #0c2e60;
}

.iconBox p {
  margin-bottom: 27px;
  line-height: 2;
}

@media (max-width: 768px) {
  .iconBox {
    margin-bottom: 70px;
  }
}

/**
    * Tutor Section 
    */
.tutor h3 {
  font-size: 42px;
  line-height: 50px;
  margin-bottom: 0;
}

@media screen and (max-width: 991px) {
  .tutor h3 {
    font-size: 34px;
    line-height: 42px;
  }
}

@media screen and (max-width: 767px) {
  .tutor h3 {
    margin-bottom: 30px;
    text-align: center;
  }
}

.tutor .video-box {
  margin-bottom: 30px;
  max-height: 450px;
  overflow: hidden;
}

.tutor-list, .recent-courses, .recent-posts {
  background-color: #fff;
  padding: 20px;
  height: 450px;
  overflow-y: scroll;
}

.tutor-list li, .recent-courses li, .recent-posts li {
  border-bottom: 1px solid #eee;
  min-height: 70px;
  margin-bottom: 20px;
  padding-bottom: 15px;
}

.tutor-list li a, .recent-courses li a, .recent-posts li a {
  display: block;
  position: relative;
  padding-left: 160px;
}

@media screen and (max-width: 991px) {
  .tutor-list li a, .recent-courses li a, .recent-posts li a {
    padding-left: 105px;
  }
}

.tutor-list li a img, .recent-courses li a img, .recent-posts li a img {
  position: absolute;
  left: 0;
  top: 0;
  max-width: 110px;
  width: 100%;
}

@media screen and (max-width: 991px) {
  .tutor-list li a img, .recent-courses li a img, .recent-posts li a img {
    max-width: 90px;
  }
}

.tutor-list li a h5, .recent-courses li a h5, .recent-posts li a h5 {
  font-size: 18px;
  font-size: 500;
  color: #000;
  margin-bottom: 10px;
}

.tutor-list li a span, .recent-courses li a span, .recent-posts li a span {
  color: #525151;
  display: block;
  font-size: 13px;
  font-weight: 300;
  line-height: 22px;
}

.skills {
  text-transform: capitalize;
}

.infoBox {
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .infoBox {
    margin-bottom: 30px;
  }
}

.infoBox .details {
  position: relative;
  padding-left: 80px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.infoBox .details .avatar-small {
  position: absolute;
  top: 0;
  left: 0;
}

.infoBox .details h4 {
  font-size: 22px;
  margin-bottom: 0;
}

.infoBox .details span {
  display: inline-block;
  font-size: 14px;
  font-weight: 300;
  color: #525151;
}

@media screen and (max-width: 991px) {
  .infoBox .details span {
    font-size: 12px;
    line-height: 18px;
  }
}

.infoBox .hire {
  text-align: right;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.infoBox .hire .btn {
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 15px 30px;
}

.infoBox .hire p {
  color: #525151;
  font-size: 14px;
  line-height: 18px;
}

.infoBox .hire p strong {
  color: #0c2e60;
  font-size: 18px;
  font-weight: 500;
}

@media screen and (max-width: 767px) {
  .infoBox .hire, .infoBox .details {
    width: 100%;
    display: block;
    text-align: center;
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    padding: 0;
  }
  .infoBox .avatar-small {
    display: block;
    margin: 0 auto 10px;
    position: relative !important;
  }
}

.video-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: .5;
  z-index: 1;
}

.video-box:hover .video-btn {
  opacity: 1;
}

.ratings a {
  display: inline-block;
  color: #f98f05;
}

.ratings span {
  display: inline-block;
}

.ratings .enrolled {
  display: inline-block;
  font-size: 13px;
  margin-left: 0;
}

.course-meta a {
  display: inline-block;
  color: #f98f05;
}

.course-meta span {
  display: inline-block;
}

.course-meta .enrolled {
  display: inline-block;
  font-size: 13px;
  margin-left: 0;
}

.subject-searchform {
  position: relative;
  max-width: 330px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .subject-searchform {
    max-width: 100%;
  }
}

.subject-searchform input {
  background-color: #fff;
  border: none;
  border-radius: 0;
  font-size: 12px;
  font-weight: 300;
  line-height: .8;
  padding: 20px 35px 20px 20px;
  width: 100%;
}

.subject-searchform input::-webkit-input-placeholder {
  color: #999;
  text-transform: uppercase;
}

.subject-searchform input:-ms-input-placeholder {
  color: #999;
  text-transform: uppercase;
}

.subject-searchform input::-ms-input-placeholder {
  color: #999;
  text-transform: uppercase;
}

.subject-searchform input::placeholder {
  color: #999;
  text-transform: uppercase;
}

.subject-searchform button {
  background-color: transparent;
  border: none;
  color: #555;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  height: 100%;
  width: 50px;
}

.subject-searchform button:hover {
  color: #04dffb;
}

/**
    * Call to action Section 
    */
.callto-action {
  padding: 70px 0;
  background-color: #0c2e60;
}

.callto-action .contactInfo {
  display: block;
}

.callto-action .contactInfo h5 {
  color: #fff;
  font-size: 18px;
  margin-bottom: 15px;
}

.callto-action .contactInfo p {
  font-size: 14px;
  color: #fff;
}

.callto-action .contactInfo p i {
  color: #000;
  font-size: 14px;
  margin-right: 7px;
  width: 25px;
  height: 25px;
  display: inline-block;
  background: #fff;
  text-align: center;
  padding: 6px 0;
  border-radius: 2px;
}

.callto-action h3 {
  color: #fff;
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 15px;
  text-transform: capitalize;
}

.callto-action p {
  color: #fff;
  font-size: 24px;
  margin-bottom: 0;
  text-transform: capitalize;
}

.callto-action a {
  color: #fff;
}

.callto-action a.btn:hover {
  color: #fff;
}

.callto-action a:hover {
  color: #04dffb;
}

@media screen and (max-width: 991px) {
  .callto-action h3 {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .callto-action p {
    font-size: 18px;
  }
}

@media screen and (max-width: 767px) {
  .callto-action {
    text-align: center;
  }
  .callto-action h3 {
    font-size: 22px;
    margin-bottom: 10px;
  }
  .callto-action p {
    font-size: 14px;
    margin-bottom: 15px;
  }
}

/**
    * Nearby students section
    */
.nearby-students.v2 {
  position: relative;
  overflow: hidden;
}

.nearby-students.v2 .container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: block;
  height: 100%;
}

.nearby-students.v2 #map.map-2 {
  height: 600px;
  width: 100%;
  z-index: 9;
}

.nearby-students.v2 .student-search-form {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 15px;
  max-width: 350px;
  z-index: 99;
  padding: 50px 40px;
}

.nearby-students.v2 .student-search-form h3 {
  margin-bottom: 20px;
}

.student-search-form {
  background-color: #e2e7ebdb;
  position: relative;
  padding: 65px 50px;
  text-align: center;
}

.student-search-form::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: auto;
  background-color: #04dffb;
  margin: auto;
  height: 2px;
  width: 100px;
}

.student-search-form h3 {
  margin-bottom: 40px;
}

.student-search-form form {
  display: block;
  width: 100%;
}

.student-search-form input {
  background-color: #fff;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  display: block;
  padding: 10px 15px;
  margin-bottom: 10px;
  width: 100%;
}

.student-search-form input::-webkit-input-placeholder {
  color: #999;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

.student-search-form input:-ms-input-placeholder {
  color: #999;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

.student-search-form input::-ms-input-placeholder {
  color: #999;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

.student-search-form input::placeholder {
  color: #999;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

.student-search-form .btn {
  display: block;
  width: 100%;
}

@media screen and (max-width: 991px) {
  .student-search-form {
    margin-bottom: 30px;
  }
}

/**
    * Partners section
    */
.partners-caro img {
  -webkit-filter: grayscale(500%);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.partners-caro img:hover {
  -webkit-filter: grayscale(0%);
}

/**
    * Blog section
    */
.blog-posts .post-item {
  margin-bottom: 30px;
}

.blog-posts .post-item .post-content {
  margin-top: -20px;
}

@media screen and (max-width: 991px) {
  .blog-posts .pagination {
    margin-bottom: 50px;
  }
}

.post-item {
  position: relative;
}

@media screen and (max-width: 767px) {
  .post-item {
    margin-bottom: 30px;
  }
}

.post-item .post-content {
  background-color: #fff;
  -webkit-box-shadow: 0 12px 20px rgba(1, 84, 85, 0.1);
          box-shadow: 0 12px 20px rgba(1, 84, 85, 0.1);
  padding: 30px;
  position: relative;
  margin-left: auto;
  margin-top: -95px;
  z-index: 1;
}

.post-item .post-content h3 a {
  display: block;
  font-size: 22px;
  color: #0c2e60;
  margin-bottom: 10px;
  line-height: 1.4;
}

.post-item .post-content h3 a:hover {
  color: #04dffb;
}

@media screen and (max-width: 1199px) {
  .post-item .post-content .meta-tags a i {
    margin-right: 10px;
  }
}

.meta-tags {
  color: #525151;
}

.meta-tags a, .meta-tags span {
  display: inline-block !important;
  color: #525151;
  font-size: 12px;
  text-transform: uppercase;
  position: relative;
}

@media screen and (max-width: 360px) {
  .meta-tags a, .meta-tags span {
    font-size: 11px;
  }
}

.meta-tags a i, .meta-tags span i {
  margin-right: 7px;
  color: #525151;
}

.meta-tags a:hover, .meta-tags span:hover {
  color: #04dffb;
}

.meta-tags .commentCount {
  margin-left: 15px;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .meta-tags .commentCount {
    margin-left: 0;
  }
}

@media screen and (max-width: 360px) {
  .meta-tags .commentCount {
    margin-left: 5px;
  }
}

.entry-content {
  position: relative;
}

.entry-content h3 {
  margin-bottom: 15px;
}

.entry-content h6 {
  margin: 40px 0 20px;
}

.entry-content .meta-tags {
  border-bottom: 1px solid #e0e4e6;
  margin: 30px 0;
  padding-bottom: 20px;
}

.entry-content .meta-tags a {
  margin-right: 10px;
  padding-right: 10px;
  position: relative;
}

.entry-content .meta-tags a i {
  margin-right: 10px;
}

.entry-content .meta-tags a:not(:last-child):after {
  content: '';
  position: absolute;
  top: 50%;
  left: auto;
  right: 0;
  bottom: 0;
  background-color: #525151;
  border-radius: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 3px;
  width: 3px;
}

.pagination {
  border-top: 1px solid #e0e4e6;
  display: block;
  width: 100%;
  margin: 30px 0 0;
  padding-top: 30px;
}

.pagination a, .pagination span {
  display: inline-block;
  color: #999;
  border: 1px solid #e0e4e6;
  border-radius: 5px;
  padding: 7px 15px;
  margin-right: 5px;
  text-transform: uppercase;
}

.pagination a:hover, .pagination span:hover {
  border-color: #04dffb;
  color: #04dffb;
}

.pagination .current-page {
  color: #000;
  border-color: #000;
  font-weight: 500;
  background: #04dffb;
  color: #fff;
  border-color: #04dffb;
}

/**
    * Yachts section
    */
@media screen and (max-width: 991px) {
  .courses-page .main-form input {
    widows: 100%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.yachts {
  position: relative;
}

.single-course {
  position: relative;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.07);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.07);
  margin-bottom: 40px;
}

.home .single-course {
  margin-bottom: 0;
  background: #fff;
}

@media screen and (max-width: 991px) {
  .home .single-course {
    margin-bottom: 30px;
  }
}

.course-thumb {
  position: relative;
}

.course-thumb .info-area {
  position: absolute;
  top: 5px;
  right: 5px;
}

.course-thumb .info-area ul li {
  display: inline-block;
}

.course-thumb .info-area ul li a {
  padding: 5px 10px;
  text-transform: uppercase;
  background: #000;
  color: #fff;
  font-size: 13px;
}

.course-thumb .info-area ul li a.rent {
  background: #5a8dee;
}

.course-thumb .info-area ul li a.sell {
  background: #2ac528;
}

.course-thumb .info-area ul li a.used {
  position: relative;
}

.course-thumb .info-area ul li a.sold {
  background: red;
}

.course-thumb:hover .meta-area {
  display: block;
}

.course-thumb:hover .meta-area li {
  top: 0;
  opacity: 1;
}

.course-thumb .meta-area {
  position: absolute;
  top: 50%;
  text-align: center;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.course-thumb .meta-area ul {
  position: relative;
  width: auto;
  display: block;
}

.course-thumb .meta-area ul li {
  display: inline-block;
  top: 50px;
  -webkit-transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  position: relative;
  opacity: 0;
}

.course-thumb .meta-area ul li:nth-child(1) {
  -webkit-transition-delay: .0s;
          transition-delay: .0s;
}

.course-thumb .meta-area ul li:nth-child(2) {
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
}

.course-thumb .meta-area ul li:nth-child(3) {
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
}

.course-thumb .meta-area ul li a i {
  width: 50px;
  height: 50px;
  background: -webkit-gradient(linear, left top, right top, from(#04dffb), to(#0fe5f0));
  background: linear-gradient(to right, #04dffb 0%, #0fe5f0 100%);
  border-radius: 50%;
  display: block;
  font-size: 20px;
  color: #fff;
  padding: 15px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.course-thumb .meta-area ul li a:hover i {
  background: -webkit-gradient(linear, left top, right top, from(#04dffb), to(#04dffb));
  background: linear-gradient(to right, #04dffb 0%, #04dffb 100%);
}

.course-meta {
  position: relative;
}

.course-meta .btn {
  padding: 15px;
}

.ribbon {
  background: -webkit-gradient(linear, left top, right top, from(#04dffb), to(#0fe5f0));
  background: linear-gradient(to right, #04dffb 0%, #0fe5f0 100%);
  -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.07);
          box-shadow: 0 1px 0px rgba(0, 0, 0, 0.07);
  border-radius: 0;
  color: #fff;
  display: block;
  font-size: 16px;
  position: absolute;
  padding: 5px 15px;
  bottom: 20px;
  left: 0;
}

.ribbon:after {
  content: '';
  position: absolute;
  top: auto;
  left: 4px;
  right: auto;
  bottom: -7px;
  background: #686868;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
  height: 20px;
  width: 20px;
  z-index: -1;
}

.badge {
  background-color: #ffc107;
  color: #000;
  font-size: 12px;
  font-weight: 500;
  vertical-align: middle;
  margin-left: 10px;
}

.badge i {
  margin-right: 10px;
}

.price {
  font-size: 30px;
  color: #0c2e60;
  margin-bottom: 0;
}

.price strong {
  color: #0c2e60;
}

.price span {
  color: #525151;
  display: inline-block;
  font-size: 16px;
  text-decoration: line-through;
  margin-left: 10px;
}

.discount-price {
  display: block;
  margin-bottom: 15px;
}

.discount-price i {
  margin-right: 5px;
}

/**
    * Course details section
    */
.yacht-details .infoBox {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.yacht-details .infoBox .course-meta {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
}

.buy-course {
  text-align: center;
}

.buy-course .btn {
  padding: 15px;
  width: 100%;
}

.buy-course .btn-outline {
  border-radius: 0;
  margin-bottom: 10px;
}

.course-content {
  border: 1px solid #e0e4e6;
  border-radius: 3px;
  padding: 15px 20px;
  position: relative;
}

.course-content dt.product-item-part {
  width: 50%;
  text-transform: capitalize;
}

@media screen and (max-width: 575px) {
  .course-content {
    padding: 15px;
  }
}

.course-content h3 {
  font-size: 36px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 13px;
}

.course-content h3 a {
  font-size: 20px;
  display: block;
  color: #000;
}

.course-content h3 a:hover {
  color: #04dffb;
}

@media screen and (max-width: 575px) {
  .course-content h3 {
    font-size: 24px;
  }
}

.course-content h3 .badge {
  margin-left: 0;
}

.course-content p {
  color: #0c2e60;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 20px;
}

@media screen and (max-width: 575px) {
  .course-content p {
    font-size: 15px;
  }
}

.course-content ul li {
  display: inline-block;
  width: 49%;
}

.course-content ul li i {
  margin-right: 10px;
}

.course-content .details span {
  display: inline-block;
  position: relative;
  margin-right: 10px;
  padding-right: 10px;
  line-height: 1;
}

@media screen and (max-width: 767px) {
  .course-content .details span {
    font-size: 13px;
  }
}

.course-content .details span a {
  color: #f98f05;
}

.course-content .details span:after {
  content: '';
  position: absolute;
  top: 0;
  left: auto;
  right: 0;
  bottom: 0;
  background-color: #525151;
  height: 100%;
  width: 1px;
}

.course-content .details .ratings {
  display: inline-block;
}

.course-content .enroll {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.course-content .enroll div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.course-content .enroll .total-students {
  display: block;
  margin: 0;
}

/**
    * Course video
    */
.yacht-preview {
  position: relative;
  margin-bottom: 20px;
}

.yacht-preview:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
}

.yacht-preview .preview-btn {
  background-color: #04dffb;
  border-radius: 50%;
  color: #fff;
  font-size: 20px;
  line-height: 80px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 80px;
  width: 80px;
  z-index: 2;
}

.yacht-preview .yacht-slider {
  overflow: hidden;
}

.yacht-preview .yacht-slider iframe {
  width: 100%;
  height: 388px;
  position: absolute;
}

.yacht-preview .yacht-slider .owl-dots {
  position: absolute;
  bottom: 0;
  text-align: center;
  display: inline-block;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.yacht-preview .yacht-slider .owl-dots button {
  width: 15px;
  height: 15px;
  display: inline-block;
  margin: 0 2px;
  border-radius: 50%;
  background: #04dffb;
}

.yacht-preview .yacht-slider .owl-dots button.active {
  background: #fff;
}

.yacht-preview .yacht-slider .owl-nav button {
  outline: none;
  position: absolute;
  bottom: 0;
  top: 0;
  text-align: center;
  display: inline-block;
  margin: auto 0;
  width: 30px;
  height: 50px;
  background: #04dffb;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.yacht-preview .yacht-slider .owl-nav button.owl-prev {
  left: -50px;
}

.yacht-preview .yacht-slider .owl-nav button.owl-prev span {
  font-size: 35px;
  color: #fff;
}

.yacht-preview .yacht-slider .owl-nav button.owl-next {
  right: -50px;
}

.yacht-preview .yacht-slider .owl-nav button.owl-next span {
  font-size: 35px;
  color: #fff;
}

.yacht-preview .yacht-slider:hover button.owl-prev {
  left: 0;
}

.yacht-preview .yacht-slider:hover button.owl-next {
  right: 0;
}

/**
    * Course Curriculum
    */
.course-curriculum .nav {
  border-bottom: 0;
}

.course-curriculum .nav li {
  text-align: center;
  border-right: 1px solid #e0e4e6;
}

@media screen and (min-width: 576px) {
  .course-curriculum .nav li {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

@media screen and (max-width: 575px) {
  .course-curriculum .nav li {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.course-curriculum .nav a {
  background-color: #f7f7f7;
  display: block;
  font-size: 16px;
  color: #000;
  padding: 15px;
}

.course-curriculum .nav a.active {
  background: -webkit-gradient(linear, left top, right top, from(#04dffb), to(#0fe5f0));
  background: linear-gradient(to right, #04dffb 0%, #0fe5f0 100%);
  color: #fff;
}

.course-curriculum .tab-pane {
  border: 1px solid #e0e4e6;
  padding: 25px;
}

.course-curriculum .tab-pane .course-content {
  margin-bottom: 30px;
}

.course-curriculum .tab-pane ul li {
  position: relative;
}

.course-curriculum .tab-pane ul li i {
  margin-right: 15px;
}

.course-curriculum .tab-pane ul li i:before {
  margin-left: 0;
}

.course-curriculum .tab-pane .tab-title {
  margin-bottom: 10px;
}

@media screen and (min-width: 576px) {
  .course-curriculum .tab-pane .tab-list-2col li {
    width: 33%;
    display: inline-block;
    font-size: 14px;
  }
}

.course-curriculum .tab-pane .team-bio {
  background: #f3f3f3;
  padding: 15px;
}

.accordion-item h5 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f7f8fa;
  border-bottom: 1px solid #e0e4e6;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding: 15px;
  margin-bottom: 0;
}

.accordion-item h5 span {
  font-size: 14px;
  text-transform: capitalize;
  display: inline-block;
  margin-left: auto;
}

.accordion-item .acr-body {
  padding: 15px 0;
}

.accordion-item .acr-body li a {
  color: #444;
  border-bottom: 1px solid #eeeeee;
  display: block;
  padding: 5px 20px;
}

.sidebar .widget {
  border: 1px solid #e0e4e6;
  border-radius: 5px;
  padding: 15px;
  position: relative;
  margin-bottom: 30px;
}

.sidebar .widget .single-course .ribbon {
  font-size: 13px;
  padding: 2px 10px;
}

.sidebar .widget .single-course .course-content {
  padding: 15px;
}

.sidebar .widget .single-course .course-content h3 {
  margin: 0;
  padding: 0;
}

.sidebar .widget .single-course .course-content h3 a {
  font-size: 13px;
  line-height: 1.5;
}

.sidebar .widget ul.social-media.nav.nav-tabs {
  border: none;
}

.sidebar .widget ul.social-media.nav.nav-tabs li {
  text-align: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.sidebar .widget ul.social-media.nav.nav-tabs li a {
  display: blck;
}

.sidebar .widget ul.social-media.nav.nav-tabs li a i {
  display: block;
  background: -webkit-gradient(linear, left top, right top, from(#04dffb), to(#0fe5f0));
  background: linear-gradient(to right, #04dffb 0%, #0fe5f0 100%);
  color: #fff;
  padding: 10px 0;
}

.sidebar .widget form input, .sidebar .widget form textarea {
  border-radius: 0;
  font-size: 14px;
}

.sidebar .widget form button {
  display: block;
  width: 100%;
  padding: 15px;
}

.sidebar .widget .widget-title {
  text-transform: capitalize;
  margin-bottom: 20px;
}

.instractors {
  text-align: center;
}

.instractors .avatar-md {
  margin: 0 auto 20px;
}

.instractors h4 {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.instractors span {
  display: block;
  font-size: 14px;
  text-transform: capitalize;
  margin-bottom: 7px;
}

.socials a {
  display: inline-block;
  font-size: 14px;
  color: #525151;
  padding-right: 10px;
}

.socials a.facebook {
  color: #4b6ea9;
}

.socials a.linkedin {
  color: #0077B5;
}

.socials a.twitter {
  color: #65bbf2;
}

.socials a.youtube {
  color: #ff0000;
}

.categories li a {
  color: #525151;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #e0e4e6;
  padding: 7px 0;
}

.categories li a span {
  display: inline-block;
  margin-left: auto;
}

.categories li:last-child a {
  border-bottom: 0;
}

.recent-courses, .recent-posts {
  height: auto;
  overflow: hidden;
}

.recent-courses li:last-child, .recent-posts li:last-child {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.recent-courses li a, .recent-posts li a {
  padding-left: 0px;
}

.recent-courses li a img, .recent-posts li a img {
  max-width: 100%;
  position: relative;
  display: block;
  margin-bottom: 15px;
}

@media screen and (max-width: 1199px) {
  .recent-courses li a span, .recent-posts li a span {
    font-size: 11px;
  }
}

.recent-courses li a .recent-courses li a h5, .recent-posts li a .recent-courses li a h5, .recent-courses li a .recent-posts li a h5, .recent-posts li a .recent-posts li a h5 {
  margin-top: 10px;
  display: block;
}

.recent-courses li a:hover h5, .recent-posts li a:hover h5, .recent-courses li a p, .recent-posts li a p {
  color: #04dffb;
}

/**
    * Comments
    */
.comments {
  padding: 50px 0;
}

.comments .comment-title {
  color: #2f2f35;
  text-transform: capitalize;
  padding-bottom: 0;
  margin-bottom: 30px;
}

.comments ul {
  list-style: none;
}

.comments ul li {
  position: relative;
  margin-bottom: 34px;
}

.comments ul li h4 {
  color: #2f2f35;
  font-size: 18px;
  margin-bottom: 4px;
}

.comments ul li a {
  color: #1577df;
  display: inline-block;
  font-size: 14px;
}

.comments ul li a:first-of-type {
  padding-left: 0;
}

.comments ul .cmnt-level-2 {
  padding-left: 50px;
}

.comments p {
  color: #2f2f35;
  margin-bottom: 10px;
}

@media screen and (max-width: 575px) {
  .comments p {
    font-size: 14px;
  }
}

.comments .single-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
  position: relative;
}

.comments .comments-body {
  border-bottom: 1px solid #e0e4e6;
  -ms-flex-preferred-size: calc(100% - 80px);
      flex-basis: calc(100% - 80px);
  padding-bottom: 25px;
}

.comments .comments-body a {
  color: #04dffb;
}

.comments .user-thumb {
  border-radius: 50%;
  -ms-flex-preferred-size: 60px;
      flex-basis: 60px;
}

.comment-form .comment-title {
  margin-bottom: 30px;
}

@media screen and (max-width: 992px) {
  .comment-form {
    margin-bottom: 50px;
    display: block;
  }
}

.comment-form form textarea {
  background-color: #f6f6f6;
  border: 1px solid #dadada;
  border-radius: 5px;
  margin-bottom: 25px;
  padding: 20px;
  width: 100%;
  min-height: 130px;
}

.comment-form form .btn {
  display: block;
  min-width: auto;
  margin: 0;
  margin-left: 0px;
  padding-left: 40px;
  padding-right: 40px;
}

/**
    * Contact section
    */
.contact form .form-group {
  margin-bottom: 35px;
}

.contact form label {
  color: #0c2e60;
  display: block;
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.contact form input, .contact form textarea {
  border: 1px solid #e0e4e6;
  border-radius: 0;
  padding: 10px 15px;
  height: auto;
}

.contact form input::-webkit-input-placeholder, .contact form textarea::-webkit-input-placeholder {
  color: #999;
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.contact form input:-ms-input-placeholder, .contact form textarea:-ms-input-placeholder {
  color: #999;
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.contact form input::-ms-input-placeholder, .contact form textarea::-ms-input-placeholder {
  color: #999;
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.contact form input::placeholder, .contact form textarea::placeholder {
  color: #999;
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.contact form textarea {
  min-height: 240px;
}

.contact form .btn {
  display: block;
  margin: 0 auto;
}

.contact-info {
  margin-top: 27px;
}

.contact-info div {
  margin-top: 25px;
}

.contact-info div h6 {
  font-size: 15px;
  text-transform: capitalize;
}

.contact-info div a, .contact-info div span {
  font-size: 13px;
  color: #525151;
  display: block;
  line-height: 18px;
}

.map-section {
  padding-bottom: 0;
}

#map {
  min-height: 400px;
  height: 100%;
  overflow: hidden;
}

.widget .widget-title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 35px;
}

.widget p {
  font-weight: 300;
  color: #7c7c7c;
}

.widget-navigation li a {
  color: #7c7c7c;
  display: block;
  font-weight: 300;
  margin-bottom: 5px;
}

.widget-navigation li a:hover {
  color: #04dffb;
}

@media screen and (max-width: 767px) {
  .widget-navigation {
    margin-bottom: 30px;
  }
}

.widget-insta-feed ul {
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.widget-insta-feed ul li {
  -ms-flex-preferred-size: calc(100% / 3 - 10px);
      flex-basis: calc(100% / 3 - 10px);
  margin-right: 10px;
  margin-bottom: 10px;
}

.widget-insta-feed ul li:nth-child(3n - 3) {
  margin-right: 0;
}

@media screen and (max-width: 767px) {
  .widget-insta-feed {
    margin-bottom: 30px;
  }
}

.widget-address address {
  position: relative;
}

.widget-address span, .widget-address a {
  color: #999;
  display: block;
  line-height: 23px;
  position: relative;
  padding-left: 30px;
}

.widget-address span i, .widget-address a i {
  color: #fff;
  position: absolute;
  left: 0;
  top: 4px;
}

.widget-address a {
  margin-top: 10px;
}

.widget_search {
  padding: 0 !important;
  border: none !important;
}

.widget_search form {
  position: relative;
}

.widget_search form i {
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.widget_search input {
  background-color: none;
  border: 1px solid #e0e4e6;
  border-radius: 5px;
  padding: 15px 40px 15px 25px;
  width: 100%;
}

/*************************
    * Pricing section
    */
.pricing-box {
  border: 1px solid #e0e4e6;
  border-radius: 5px;
  overflow: hidden;
}

@media screen and (max-width: 991px) {
  .pricing-box {
    margin-bottom: 30px;
  }
}

.pricing-box .p-head {
  background-color: #f9f9f9;
  padding: 15px 15px;
  text-align: center;
}

.pricing-box .p-head h4 {
  margin-bottom: 25px;
}

.pricing-box .p-head > span {
  font-size: 18px;
}

.pricing-box .p-head .ribbon {
  top: 15px;
  bottom: auto;
  padding: 3px 10px;
  font-size: 14px;
  text-transform: uppercase;
}

.pricing-box .price {
  font-family: "Poppins", sans-serif;
  font-size: 56px;
  font-weight: 500;
  margin-bottom: 10px;
}

.pricing-box .price span {
  font-weight: 400;
  text-decoration: none;
  margin-left: 0;
}

.pricing-box .p-body {
  padding: 15px 0;
}

.pricing-box .p-body ul {
  margin-bottom: 30px;
}

.pricing-box .p-body li {
  display: block;
  padding: 10px 15px;
  border-bottom: 1px solid #e0e4e6;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.pricing-box .p-body li i {
  margin-right: 10px;
}

.pricing-box .p-body li i.ti-check {
  color: #3fd35e;
}

.pricing-box .p-body li i.ti-close {
  color: #e53131;
}

.pricing-box .btn {
  display: block;
  margin: 0 15px;
}

/*************************
    * Page Feature 
    */
.page-feature {
  background: url(../images/page-feat.jpg) no-repeat center bottom/cover;
  padding: 100px 0;
  position: relative;
  background-position-y: bottom !important;
  background-repeat: repeat;
}

@media screen and (max-width: 992px) {
  .page-feature {
    padding: 50px 0;
  }
}

.page-feature::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  height: 100%;
  width: 100%;
}

.page-feature h2 {
  color: #fff;
  text-transform: capitalize;
  position: relative;
  z-index: 3;
  margin: 0;
}

.page-feature .breadcrumb {
  background-color: transparent;
  color: #fff;
  display: block;
  text-transform: capitalize;
  position: relative;
  margin-bottom: 0;
  z-index: 3;
  padding: 0;
  padding-top: 5px;
}

.page-feature .breadcrumb a {
  color: #04dffb;
}

.page-feature .breadcrumb a:hover {
  color: #fff;
}

@media screen and (max-width: 768px) {
  .page-feature h2, .page-feature .breadcrumb {
    text-align: center !important;
  }
}

/*************************
    * Destination page
    */
.destinations .course-content h3 {
  margin-bottom: 3px;
}

/*************************
    * Testimonial section
    */
.testimonial {
  position: relative;
  background-attachment: fixed;
  text-align: center;
}

.testimonial::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background: #0c2e60;
  opacity: 1;
}

.testimonial span.quote-sign {
  margin: 0 auto;
  display: inline-block;
  float: none;
  font-size: 150px;
  color: #04dffb;
  position: absolute;
  right: 0;
  opacity: .2;
  bottom: -67px;
  pointer-events: none;
}

.testimonial .owl-carousel .single-testimonial {
  text-align: center;
  text-align: left;
  background: #fff;
  padding: 15px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.testimonial .owl-carousel .single-testimonial .testimonial-user {
  float: left;
  height: auto;
  display: block;
  margin-right: 15px;
  text-align: center;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media screen and (max-width: 768px) {
  .testimonial .owl-carousel .single-testimonial .testimonial-user {
    position: relative;
    -webkit-transform: inherit;
            transform: inherit;
    float: none;
    display: block;
  }
}

.testimonial .owl-carousel .single-testimonial p {
  line-height: 30px;
  font-size: 14px;
  padding-left: 100px;
}

@media screen and (max-width: 768px) {
  .testimonial .owl-carousel .single-testimonial p {
    padding: 0;
    text-align: center;
  }
}

.testimonial .owl-carousel .single-testimonial img {
  width: auto;
  display: inline-block;
}

.testimonial .owl-carousel .single-testimonial strong {
  display: block;
  margin-top: 15px;
}

.testimonial .owl-carousel .owl-nav {
  text-align: center;
  margin-top: 15px;
}

.testimonial .owl-carousel .owl-nav button {
  margin: 3px;
  color: #fff;
  outline: none;
  font-size: 25px;
}

/*************************
    * Login / Registration
    */
@media screen and (min-width: 1200px) {
  .login-registration {
    padding: 5% 0 5%;
  }
}

.login-registration .content-box, .login-registration .content-box-fluid {
  margin-bottom: 30px;
}

.sl-form {
  position: relative;
  width: 100%;
}

@media screen and (max-width: 991px) {
  .sl-form {
    margin: 0 auto;
  }
}

.sl-form .form-group {
  position: relative;
  margin-bottom: 20px;
}

.sl-form .form-group label {
  color: #0c2e60;
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.sl-form .form-group input:not([type="checkbox"]) {
  border: 1px solid #e0e4e6;
  display: block;
  padding: 10px 15px;
  width: 100%;
}

.sl-form .form-check {
  margin-bottom: 30px;
}

.sl-form .form-check label {
  color: #000;
}

.sl-form .form-check label a {
  color: #000;
}

.sl-form .form-check label a:hover {
  text-decoration: underline;
}

.sl-form .form-check input {
  margin-top: 8px;
}

.sl-form .btn {
  margin-bottom: 30px;
  text-transform: uppercase;
}

.sl-form .notice {
  color: #000;
}

.sl-form .notice a {
  color: #04dffb;
}

.sl-form .notice a:hover {
  text-decoration: underline;
}

/*************************
    * Footer
    */
.footer .widget .widget-title {
  margin-bottom: 25px;
  color: #778191;
}

@media screen and (max-width: 767px) {
  .footer .widget {
    margin-bottom: 30px;
  }
}

.footer .copyright {
  color: #7c7c7c;
  font-size: 14px;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 0;
  padding: 20px 0;
}

.footer .copyright a, .footer .copyright i {
  color: #04dffb;
}

.foo-btm {
  background: #16191e;
}

.foo-top {
  background-color: #1e2127;
  padding: 80px 0;
}

.foo-top ul.social-media li {
  display: inline-block;
}

.foo-top ul.social-media li a {
  display: block;
}

.foo-top ul.social-media li a i {
  width: 35px;
  height: 35px;
  color: #fff;
  display: block;
  text-align: center;
  font-size: 16px;
  padding: 10px 1px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, right top, from(#04dffb), to(#0fe5f0));
  background: linear-gradient(to right, #04dffb 0%, #0fe5f0 100%);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.foo-top ul.social-media li a:hover i {
  background: -webkit-gradient(linear, left top, right top, from(#04dffb), to(#04dffb));
  background: linear-gradient(to right, #04dffb 0%, #04dffb 100%);
}

@media screen and (max-width: 767px) {
  .foo-top {
    padding-bottom: 20px;
  }
}

.terms-condition p {
  line-height: 2;
}

section#topper {
  position: relative;
}

section#topper .background {
  background: #75c9f0;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #75c9f0), color-stop(1%, #75c9f0), color-stop(51%, #d8e9eb), to(#bfbada));
  background: linear-gradient(to bottom, #75c9f0 1%, #75c9f0 1%, #d8e9eb 51%, #bfbada 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75c9f0', endColorstr='#bfbada',GradientType=0 );
  /* IE6-9 */
}

section#topper .landscape-container {
  width: 100%;
  position: relative;
  padding-top: 20px;
  height: 100vh;
}

section#topper .landscape-container .sky svg {
  top: 0;
}

section#topper .landscape-container .mountains-pink svg {
  bottom: 3%;
}

section#topper .landscape-container .mountains-purple svg {
  bottom: 6%;
}

section#topper .landscape-container .background-mountains svg {
  bottom: 7%;
}

section#topper .boat {
  position: relative;
  text-align: left;
}

section#topper .boat svg {
  height: 12%;
  width: 12%;
  position: relative;
  left: 50px;
  top: -300px;
}

section#blue {
  height: 800px;
  width: 100%;
  background-color: #17517b;
  position: relative;
  overflow: hidden;
}

.svg-content {
  display: inline-block;
  overflow: hidden;
  top: 0;
  left: 0;
}

svg {
  padding: 0;
  margin: 0;
  display: block;
}

.bubbles {
  width: 10%;
  height: 10%;
}

/* ==========================================================================
    Animations
    ========================================================================== */
@-webkit-keyframes swim {
  0% {
    margin-left: -35px;
  }
  90% {
    margin-left: 100%;
  }
  100% {
    margin-left: 100%;
  }
}

@keyframes swim {
  0% {
    margin-left: -35px;
  }
  100% {
    margin-left: 100%;
  }
}

svg.fish1 {
  position: relative;
  top: 50%;
  right: 8%;
  width: 10%;
  height: 10%;
  animation: swim 40s;
  -webkit-animation: swim 40s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  animation-direction: reverse;
  -webkit-animation-direction: reverse;
}

svg.fish2 {
  position: absolute;
  bottom: 8%;
  left: 8%;
  width: 10%;
  height: 10%;
  animation: swim 40s;
  -webkit-animation: swim 40s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
}

svg .fish1,
svg .fish2 {
  -webkit-animation: fish-bounce 2s infinite;
  animation: fish-bounce 2s infinite;
}

@-webkit-keyframes fish-bounce {
  0%, 50%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  75% {
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
  }
}

@keyframes fish-bounce {
  0%, 50%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  75% {
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
  }
}

.waves {
  position: relative;
  bottom: -200px;
  height: 500px;
}

.waves:after {
  height: 50%;
  background-color: #17517b;
  content: '';
  z-index: 2;
  width: 100%;
  display: block;
  position: absolute;
  bottom: -50%;
}

.waves svg {
  width: 108%;
}

.waves svg > * {
  position: relative;
}

.waves svg > svg:nth-child(2) {
  -webkit-animation: move 5s infinite ease-in-out;
          animation: move 5s infinite ease-in-out;
  -webkit-animation-delay: -2.5s;
          animation-delay: -2.5s;
  right: 0;
}

.waves svg > svg:nth-child(3) {
  -webkit-animation: move 5s infinite ease-in-out;
          animation: move 5s infinite ease-in-out;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  right: 0;
}

.waves svg > *:nth-child(4) {
  -webkit-animation: move 7s infinite ease-in-out;
          animation: move 7s infinite ease-in-out;
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
  right: 0;
}

.waves svg > *:nth-child(5) {
  -webkit-animation: move 9s infinite ease-in-out;
          animation: move 9s infinite ease-in-out;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
}

.waves svg > *:nth-child(6) {
  -webkit-animation: boat 11s infinite ease-in-out;
          animation: boat 11s infinite ease-in-out;
  -webkit-animation-delay: -9s;
          animation-delay: -9s;
}

.waves svg > *:nth-child(7) {
  -webkit-animation: boat 7s infinite ease-in-out;
          animation: boat 7s infinite ease-in-out;
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
}

.waves svg > *:nth-child(8) {
  -webkit-animation: boat 5s infinite ease-in-out;
          animation: boat 5s infinite ease-in-out;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
}

.waves svg > *:nth-child(9) {
  -webkit-animation: boat 11s infinite ease-in-out;
          animation: boat 11s infinite ease-in-out;
  -webkit-animation-delay: -9s;
          animation-delay: -9s;
}

.floating {
  z-index: auto;
  -webkit-animation-name: floating;
  animation-name: floating;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

@-webkit-keyframes floating {
  from {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px);
  }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes floating {
  from {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px);
  }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.boat {
  z-index: auto;
  -webkit-animation-name: rocking;
  animation-name: rocking;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

@-webkit-keyframes rocking {
  0% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
  50% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
  100% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
}

@keyframes rocking {
  0% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
  50% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
  100% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
}

.cloud.one {
  opacity: 0.9;
  -webkit-animation: drift 95s linear infinite;
  animation: drift 95s linear infinite;
}

.cloud.two {
  -webkit-animation: drift 70s linear infinite;
  animation: drift 70s linear infinite;
}

/* Animation for the drifting clouds */
@-webkit-keyframes drift {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  50% {
    opacity: 0.7;
    -webkit-transform: translateX(200%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
}

@keyframes drift {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    opacity: 0.7;
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
}

@-webkit-keyframes move {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes move {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes boat {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes boat {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes bounce {
  0%, 40%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  10% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  20% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  25% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
  30% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@keyframes bounce {
  0%, 40%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  10% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  20% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  25% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
  30% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

.bounce {
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

/* Larger than mobile */
/* Larger than phablet (also point when grid becomes active) */
/* Larger than tablet */
/* Larger than desktop */
@media (min-width: 1000px) {
  #mobile-svg {
    display: none;
  }
  #parallax {
    display: block;
  }
  svg.fish1 {
    top: 5%;
  }
  svg.fish1 {
    bottom: 80%;
  }
}

@media (max-width: 999px) {
  svg.fish1 {
    top: 5%;
  }
  svg.fish2 {
    bottom: 80%;
  }
  #blue {
    display: none;
  }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
  .waves {
    bottom: -260px;
  }
  .mountains-pink svg, .mountains-purple svg {
    bottom: 5%;
  }
}

svg {
  padding: 0;
  margin: 0;
  display: block;
  position: absolute;
  top: 0;
}

section#topper {
  position: relative;
  height: 600px;
  overflow: hidden;
}
